@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inter:opsz,wght@14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 3em;
    font-family: "Bungee Shade", sans-serif;
}

h2, h3 {
    color: rgb(53, 53, 53);
}

h3 {
    font-size: 1em;
}

p {
    color: #555;
    line-height: 1.6;
}

button {
    background-color: #1e5aff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.acceptButton {
    background-color: #4CAF50;
    display: none;
}

.rejectButton {
    background-color: #ff4d4d;
    margin-top: 0px;
    display: none;
}

.acceptText {
    margin: 0;
    display: none;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.status-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    display: None;
}

.scoreImage {
    width: 400px;
    height: auto;
    display: block;
}

.poäng-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
    margin-left: 80px;
}

.tavlan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cameraSettings {
    margin-top: 50px;
    margin-right: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.cameraSetting {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.misc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
}
.misc-img {
    margin-bottom: 20px;
    width: 400px;
    height: auto;
    display: block;
}

.huggLeftContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    gap: 10px; /* space between buttons */
}

.huggLeftSide {
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 0; /* remove margin if any */
}
select{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Inter", sans-serif;
    font-size: 0.7em;
}
.exposureRange {
    margin-top: 20px;
    margin-bottom: 10px;
}
.rangeText{
    font-size: 0.8em;
    color: #555;
    margin-left: 10px;
}
.rangeInput {
    width: 40px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-left: 5px;
}
.exposureSettings{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;

    
}
.customExposureContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.exposureValueText{
    
}
.target-creator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.targetCreatorControls {
    display: flex;
    flex-direction: row;
    /* space between controls */
    gap: 10px;
    /* make the controls go one below the other if the parent is too narrow */
    
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    margin-top: 20px;
}